@import "tailwindcss";
@font-face {
  font-family: 'YekanBakh';
  src: url('/caffebazar/public/fonts/YekanBakhRegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
body {
    font-family: Vazirmatn, sans-serif;
}


